<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UFLA Monitoria API</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>

  </style>
</head>
<body>
  <header>
     <% include partials/navebarIndex %>
  </header>

   <main>

    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="mt-5">Sistema Integrado de Gestão de Monitoria</h1>
            <a href="/login"><p class="lead">Login</p></a>
            <ul class="list-unstyled">
              <li>Versão 1.0</li>
              <li>Feito por Raquel Romão</li>
            </ul>
          </div>
        </div>
    </div>

   </main>

  <footer>
  </footer>

</body>
</html>
