<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/navebar %>
  </header>

  <main>
    <div class="container">

      <div class="jumbotron dadosBasicos">
      <% if (perfil == 'Monitor') { %> 
       <p>Monitoria de  <%= monitoria.nomeDisciplina %></p>
       <table>
         <thead>
           <tr>
             <th>Orientador</th>
             <th>E-mail    </th>
           </tr>
           <tr>
             <th><%= professor.nome  %></th>
             <th><%= professor.login %></th>
           </tr>
         </thead>
       </table>
       <br>
       <p>Menu</p>
       <div class="list-group menu">
         <div class="list-group monitor">
           <a href="/monitoriaVigente/planoDeTrabalho" class="list-group-item list-group-item-action">Plano de Trabalho</a>
           <a href="/monitoriaVigente/atividades" class="list-group-item list-group-item-action">Atividades</a>
           <a href="/monitoriaVigente/horarioAtendimento" class="list-group-item list-group-item-action">Horário de Atendimento</a>
           <a href="/monitoriaVigente/gerarRelatorio" class="list-group-item list-group-item-action">Gerar Relatório</a>
         </div>
       </div>
       <% }  else { %>
        <h1>Usuário não autorizado!</h1>
       <% } %>
     </div>
      

    </div>
  </main>

  <footer>
  </footer>
</body>
</html>
